/* :root [data-theme="theme-light"]{
	--background: #F6F7F9;
	--background-rgb: 22 27 34;

	--textColor: #000D25;
	--textColor-rgb: 91 91 91;

	--secondaryTextColor: #F6F8FF;
	--secondaryTextColor-rgb: 246 248 255;

	--primary: #3176ff;
	--primary-rgb: 34 106 252;

	--secondary: #F6F7F9;
	--secondary-rgb: 245 245 245;

	--light: #fff;
	--light-rgb: 255 255 255;

	--success: #00BFA6;
	--success-rgb: 0 191 166;

	--danger: #ff6584;
	--danger-rgb: 245 0 87;

	--warning: #F9A826;
	--warning-rgb: 249 168 38;

	--radius: .3em;
} */
:root {
  --background: #0d1117;
  --background-rgb: 22 27 34;
  --textColor: #fff;
  --textColor-rgb: 255 255 255;
  --secondaryTextColor: #fff;
  --secondaryTextColor-rgb: 255 255 255;
  --primary: #3176ff;
  --primary-rgb: 34 106 252;
  --secondary: #0d1117;
  --secondary-rgb: 18 18 18;
  --light: #161b22;
  --light-rgb: 13 17 23;
  --success: #00BFA6;
  --success-rgb: 0 191 166;
  --danger: #ef476f;
  --danger-rgb: 245 0 87;
  --warning: #F9A826;
  --warning-rgb: 249 168 38;
  --radius: 5px; }

/* :root [data-theme="theme-pink-light"]{
	--background: #F1F9F3;
	--background-rgb: 241 249 243;

	--textColor: #000D25;
	--textColor-rgb: 91 91 91;

	--secondaryTextColor: #F6F8FF;
	--secondaryTextColor-rgb: 246 248 255;

	--primary: #00BFA6;
	--primary-rgb: 0 191 166;

	--secondary: #F6F7F9;
	--secondary-rgb: 245 245 245;

	--light: #fff;
	--light-rgb: 255 255 255;

	--success: #00BFA6;
	--success-rgb: 0 191 166;

	--danger: #ff6584;
	--danger-rgb: 245 0 87;

	--warning: #F9A826;
	--warning-rgb: 249 168 38;

	--radius: .3em;
}
:root [data-theme="theme-pink-dark"]{
	--background: #13141f;
	--background-rgb: 19 20 31;

	--textColor: #fff;
	--textColor-rgb: 255 255 255;

	--secondaryTextColor: #fff;
	--secondaryTextColor-rgb: 255 255 255;

	--primary: #ff87ca;
	--primary-rgb: 255 135 202;

	--secondary: #13141f;
	--secondary-rgb: 19 20 31;

	--light: #1a1a27;
	--light-rgb: 26 26 39;

	--success: #00BFA6;
	--success-rgb: 0 191 166;

	--danger: #ef476f;
	--danger-rgb: 245 0 87;

	--warning: #F9A826;
	--warning-rgb: 249 168 38;

	--radius: .3em;
}
:root [data-theme="theme-mint-light"]{
	--background: #F6F7F9;
	--background-rgb: 22 27 34;

	--textColor: #000D25;
	--textColor-rgb: 91 91 91;

	--secondaryTextColor: #000;
	--secondaryTextColor-rgb: 0 0 0;

	--primary: #9ADBBA;
	--primary-rgb: 154 219 186;

	--secondary: #F6F7F9;
	--secondary-rgb: 245 245 245;

	--light: #fff;
	--light-rgb: 255 255 255;

	--success: #00BFA6;
	--success-rgb: 0 191 166;

	--danger: #ff6584;
	--danger-rgb: 245 0 87;

	--warning: #F9A826;
	--warning-rgb: 249 168 38;

	--radius: .3em;
}
:root [data-theme="theme-mint-dark"]{
	--background: #0d1117;
	--background-rgb: 22 27 34;

	--textColor: #fff;
	--textColor-rgb: 255 255 255;

	--secondaryTextColor: #000;
	--secondaryTextColor-rgb: 0 0 0;

	--primary: #9ADBBA;
	--primary-rgb: 154 219 186;

	--secondary: #0d1117;
	--secondary-rgb: 18 18 18;

	--light: #161b22;
	--light-rgb: 13 17 23;

	--success: #00BFA6;
	--success-rgb: 0 191 166;

	--danger: #ef476f;
	--danger-rgb: 245 0 87;

	--warning: #F9A826;
	--warning-rgb: 249 168 38;

	--radius: .3em;
} */
/* :root [data-theme="theme-light"]{
	--background: #F6F7F9;
	--background-rgb: 22 27 34;

	--textColor: #000D25;
	--textColor-rgb: 91 91 91;

	--secondaryTextColor: #F6F8FF;
	--secondaryTextColor-rgb: 246 248 255;

	--primary: #3176ff;
	--primary-rgb: 34 106 252;

	--secondary: #F6F7F9;
	--secondary-rgb: 245 245 245;

	--light: #fff;
	--light-rgb: 255 255 255;

	--success: #00BFA6;
	--success-rgb: 0 191 166;

	--danger: #ff6584;
	--danger-rgb: 245 0 87;

	--warning: #F9A826;
	--warning-rgb: 249 168 38;

	--radius: .3em;
} */
:root {
  --background: #0d1117;
  --background-rgb: 22 27 34;
  --textColor: #fff;
  --textColor-rgb: 255 255 255;
  --secondaryTextColor: #fff;
  --secondaryTextColor-rgb: 255 255 255;
  --primary: #3176ff;
  --primary-rgb: 34 106 252;
  --secondary: #0d1117;
  --secondary-rgb: 18 18 18;
  --light: #161b22;
  --light-rgb: 13 17 23;
  --success: #00BFA6;
  --success-rgb: 0 191 166;
  --danger: #ef476f;
  --danger-rgb: 245 0 87;
  --warning: #F9A826;
  --warning-rgb: 249 168 38;
  --radius: 5px; }

/* :root [data-theme="theme-pink-light"]{
	--background: #F1F9F3;
	--background-rgb: 241 249 243;

	--textColor: #000D25;
	--textColor-rgb: 91 91 91;

	--secondaryTextColor: #F6F8FF;
	--secondaryTextColor-rgb: 246 248 255;

	--primary: #00BFA6;
	--primary-rgb: 0 191 166;

	--secondary: #F6F7F9;
	--secondary-rgb: 245 245 245;

	--light: #fff;
	--light-rgb: 255 255 255;

	--success: #00BFA6;
	--success-rgb: 0 191 166;

	--danger: #ff6584;
	--danger-rgb: 245 0 87;

	--warning: #F9A826;
	--warning-rgb: 249 168 38;

	--radius: .3em;
}
:root [data-theme="theme-pink-dark"]{
	--background: #13141f;
	--background-rgb: 19 20 31;

	--textColor: #fff;
	--textColor-rgb: 255 255 255;

	--secondaryTextColor: #fff;
	--secondaryTextColor-rgb: 255 255 255;

	--primary: #ff87ca;
	--primary-rgb: 255 135 202;

	--secondary: #13141f;
	--secondary-rgb: 19 20 31;

	--light: #1a1a27;
	--light-rgb: 26 26 39;

	--success: #00BFA6;
	--success-rgb: 0 191 166;

	--danger: #ef476f;
	--danger-rgb: 245 0 87;

	--warning: #F9A826;
	--warning-rgb: 249 168 38;

	--radius: .3em;
}
:root [data-theme="theme-mint-light"]{
	--background: #F6F7F9;
	--background-rgb: 22 27 34;

	--textColor: #000D25;
	--textColor-rgb: 91 91 91;

	--secondaryTextColor: #000;
	--secondaryTextColor-rgb: 0 0 0;

	--primary: #9ADBBA;
	--primary-rgb: 154 219 186;

	--secondary: #F6F7F9;
	--secondary-rgb: 245 245 245;

	--light: #fff;
	--light-rgb: 255 255 255;

	--success: #00BFA6;
	--success-rgb: 0 191 166;

	--danger: #ff6584;
	--danger-rgb: 245 0 87;

	--warning: #F9A826;
	--warning-rgb: 249 168 38;

	--radius: .3em;
}
:root [data-theme="theme-mint-dark"]{
	--background: #0d1117;
	--background-rgb: 22 27 34;

	--textColor: #fff;
	--textColor-rgb: 255 255 255;

	--secondaryTextColor: #000;
	--secondaryTextColor-rgb: 0 0 0;

	--primary: #9ADBBA;
	--primary-rgb: 154 219 186;

	--secondary: #0d1117;
	--secondary-rgb: 18 18 18;

	--light: #161b22;
	--light-rgb: 13 17 23;

	--success: #00BFA6;
	--success-rgb: 0 191 166;

	--danger: #ef476f;
	--danger-rgb: 245 0 87;

	--warning: #F9A826;
	--warning-rgb: 249 168 38;

	--radius: .3em;
} */
.dropdown {
  display: inline-flex;
  position: relative;
  vertical-align: top;
  width: 100%; }
  .dropdown .dropdown__title {
    font-weight: 600;
    padding: 1 5; }

.dropdown.active .dropdown__menu {
  display: flex;
  animation: move 0.2s ease-in-out; }

.dropdown.is-right .dropdown__menu {
  left: auto;
  top: 40px;
  right: 0; }

.dropdown.is-up .dropdown__menu {
  bottom: 100%;
  padding-bottom: 4px;
  padding-top: initial;
  top: auto; }

.dropdown__menu {
  display: none;
  left: 0;
  min-width: 12rem;
  padding-top: 4px;
  position: absolute;
  top: 100%;
  z-index: 9999; }

.dropdown__content {
  background-color: var(--light);
  border-radius: 4px;
  box-shadow: 0 0.5em 1em -0.125em RGBA(10, 10, 10, 0.1), 0 0 0 1px RGBA(10, 10, 10, 0.02);
  padding-bottom: .5rem;
  padding-top: .5rem;
  display: flex;
  z-index: 9999;
  flex-direction: column;
  overflow: hidden; }

.dropdown__item {
  color: var(--textColor) !important;
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  padding: 10px 15px;
  position: relative;
  cursor: pointer; }
  .dropdown__item form button {
    border: 0;
    background: transparent; }

a.dropdown__item, button.dropdown__item {
  padding-right: 3rem;
  text-align: left;
  white-space: nowrap;
  width: 100%; }

a.dropdown__item:hover, button.dropdown__item:hover {
  background-color: var(--secondary);
  color: RGBA(var(--textColor), 0.8); }

a.dropdown__item.active, button.dropdown__item.active {
  background-color: var(--primary);
  color: var(--light); }

.dropdown__divider {
  background-color: var(--secondary);
  border: none;
  display: block;
  height: 1px;
  margin: 0.5rem 0; }

@keyframes move {
  0% {
    transform: scale(0) rotate(0deg); }
  100% {
    transform: scale(1) rotate(0.1deg); } }

/*# sourceMappingURL=dropdown.css.map */
