@import "vars";
.btn {
	display:inline-block;
  	text-align: center;
	vertical-align:middle;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	border: 1px solid transparent;
	padding: 11px 16px;
	line-height: 1.25;
	font-size: 1rem;
	border-radius: var(--radius);
	margin: 5px;
	-webkit-transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
	-o-transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	-moz-transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
	outline: none;
	cursor: pointer;
	font-family: var(--fontFamily);
	font-weight: 400;
	line-height: 1.5;
}
.btn > *{
	vertical-align: middle;
}
.btn:hover{
	opacity: 0.8;
}
.btn:focus,.btn:hover {
	text-decoration:none
}
.btn.focus,.btn:focus {
	outline:0;
	-webkit-box-shadow:none;
	box-shadow:none
}
.btn.disabled,.btn:disabled {
	opacity:.65;
	cursor: not-allowed;
}
.btn:not(:disabled):not(.disabled).active,.btn:not(:disabled):not(.disabled):active {
	background-image:none
}
a.btn.disabled,fieldset:disabled a.btn {
	pointer-events:none
}
.btn:hover {
	color: #272c33;
	text-decoration: none;
	box-shadow: 0px 3px 6px 1px RGB(38 107 193 / 15%);
}

.btn.focus,.btn:focus {
	outline: 0
}

.btn.focus, .btn:focus {
	box-shadow: 0 0 0 1px var(--secondary)
}

.btn.disabled,.btn:disabled {
	opacity: .65
}

.btn:not(:disabled):not(.disabled) {
	cursor: pointer
}

a.btn.disabled,fieldset:disabled a.btn {
	pointer-events: none
}

/* Primary */
.btn-primary {
	background-color: var(--primary);
	border-color: var(--primary);
	color: var(--secondaryTextColor);
}
.btn-primary.disabled, .btn-primary:disabled {
	opacity: 0.5;
}

.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active,.show>.btn-primary.dropdown-toggle {
	color: var(--secondaryTextColor);
	background-color: RGB(var(--primary-rgb) / 90%);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	color: var(--secondaryTextColor);
	opacity: 0.6;
	background-color: RGB(var(--primary-rgb) / 90%);
}

.btn-primary:not(:disabled):not(.disabled):focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 1px RGBA(101,176,241,.5);
	background-color: RGB(var(--primary-rgb) / 90%);
	border-color: var(--primary);
}
.btn-primary:hover{
	color: var(--secondaryTextColor);
	background-color: RGB(var(--primary-rgb) / 90%);
	border-color: RGB(var(--primary-rgb) / 90%);
}
.btn-primary:disabled{
	background-color: RGB(var(--primary-rgb) / 90%);
	border-color: RGB(var(--primary-rgb) / 90%);
}
.btn-primary-soft {
	background-color: RGB( var(--primary-rgb) / 20% );
	color: var(--primary);
	border: 1px solid RGB( var(--primary-rgb) / 20% );
}
.btn-primary-soft.disabled, .btn-primary-soft:disabled {
	opacity: 0.5;
}
.btn-primary-soft:hover{
	color: var(--textColor);
}
.btn-primary-soft{
	background-color: RGB(var(--primary-rgb) / 20%);
	border-color: transparent;
	color: var(--primary);

	&:hover{
		color: var(--light) !important;
	}
}
.btn-primary-bordered{
	border-color: var(--primary);
}
.btn-primary-shadow{
	box-shadow: RGBA(var(--primary-rgb) / 10%) 0px 10px 15px -3px, RGBA(var(--primary-rgb) / 50%) 0px 4px 6px -2px;
}
.btn-primary-3d{
	//box-shadow:  RGBA(var(--primary-rgb) / 40%) -5px 5px, RGBA(var(--primary-rgb) / 30%) -10px 10px,  RGBA(var(--primary-rgb) / 20%) -15px 15px,  RGBA(var(--primary-rgb) / 10%) -20px 20px,  RGBA(var(--primary-rgb) / 5%) -25px 25px;
	box-shadow:  RGBA(var(--primary-rgb) / 40%) -3px 3px, RGBA(var(--primary-rgb) / 30%) -6px 6px;
	background-color: transparent;
	border-color: var(--primary);
	color: var(--primary);
}
.btn-primary-outline {
	background-color: transparent;
	border-color: var(--primary);
	color: var(--primary);
}
.btn-primary-outline.disabled, .btn-primary-outline:disabled {
	opacity: 0.5;
}

.btn-primary-outline:not(:disabled):not(.disabled).active,.btn-primary-outline:not(:disabled):not(.disabled):active,.show>.btn-primary-outline.dropdown-toggle {
	color: var(--secondaryTextColor);
}

.btn-primary-outline:not(:disabled):not(.disabled).active, .btn-primary-outline:not(:disabled):not(.disabled):active, .show>.btn-primary-outline.dropdown-toggle {
	color: var(--secondaryTextColor);
	opacity: 0.6;
}

.btn-primary-outline:not(:disabled):not(.disabled).active:focus, .btn-primary-outline:not(:disabled):not(.disabled):active:focus, .show>.btn-primary-outline.dropdown-toggle:focus {
	box-shadow: 0 0 0 1px RGBA(101,176,241,.5)
}
.btn-primary-outline:hover{
	color: var(--secondaryTextColor);
}
.btn-primary-outline {
	background-color: transparent;
	border-color: var(--primary);
	color: var(--primary);
}
.btn-primary-outline.disabled, .btn-primary-outline:disabled {
	opacity: 0.5;
}

.btn-primary-outline:not(:disabled):not(.disabled).active,.btn-primary-outline:not(:disabled):not(.disabled):active,.show>.btn-primary-outline.dropdown-toggle {
	color: var(--secondaryTextColor);
}

.btn-primary-outline:not(:disabled):not(.disabled).active, .btn-primary-outline:not(:disabled):not(.disabled):active, .show>.btn-primary-outline.dropdown-toggle {
	color: var(--secondaryTextColor);
	opacity: 0.6;
}

.btn-primary-outline:not(:disabled):not(.disabled).active:focus, .btn-primary-outline:not(:disabled):not(.disabled):active:focus, .show>.btn-primary-outline.dropdown-toggle:focus {
	box-shadow: 0 0 0 1px RGBA(101,176,241,.5)
}
.btn-primary-outline:hover{
	color: var(--secondaryTextColor);
}



/* Secondary */
.btn-secondary {
	background-color: var(--secondary);
	border-color: var(--secondary);
	color: var(--textColor);
}
.btn-secondary:hover{
	opacity: 0.6;
	background: RGB(var(--secondary-rgb) / 83%);
	color: var(--textColor);
	border-color: transparent;
}
.btn-secondary.disabled, .btn-secondary:disabled {
	opacity: 0.5;
	background-color: var(--secondary);
	border-color: var(--secondary);
	color: var(--textColor);
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
	background-color: var(--secondary);
	border-color: var(--secondary);
}
.btn-secondary-outline {
	background-color: transparent;
	border-color: var(--secondary);
	color: var(--textColor);
}
.btn-secondary-outline.disabled, .btn-secondary-outline:disabled {
	opacity: 0.5;
}

.btn-secondary-outline:not(:disabled):not(.disabled).active,.btn-secondary-outline:not(:disabled):not(.disabled):active,.show>.btn-secondary-outline.dropdown-toggle {
	color: var(--secondaryTextColor);
}

.btn-secondary-outline:not(:disabled):not(.disabled).active, .btn-secondary-outline:not(:disabled):not(.disabled):active, .show>.btn-secondary-outline.dropdown-toggle {
	color: var(--secondaryTextColor);
	opacity: 0.6;
}

.btn-secondary-outline:not(:disabled):not(.disabled).active:focus, .btn-secondary-outline:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary-outline.dropdown-toggle:focus {
	box-shadow: 0 0 0 1px RGBA(101,176,241,.5)
}
.btn-secondary-outline:hover{
	color: var(--secondaryTextColor);
}
.btn-secondary-shadow{
	box-shadow: RGBA(var(--scondary-rgb) / 10%) 0px 10px 15px -3px, RGBA(var(--scondary-rgb) / 50%) 0px 4px 6px -2px;
}
.btn-secondary-bordered{
	border-color: var(--secondary);
}
.btn-secondary-3d{
	//box-shadow:  RGBA(var(--primary-rgb) / 40%) -5px 5px, RGBA(var(--primary-rgb) / 30%) -10px 10px,  RGBA(var(--primary-rgb) / 20%) -15px 15px,  RGBA(var(--primary-rgb) / 10%) -20px 20px,  RGBA(var(--primary-rgb) / 5%) -25px 25px;
	box-shadow:  RGBA(var(--secondary-rgb) / 40%) -5px 5px;
	background-color: transparent;
	border-color: var(--secondary);
	color: var(--textColor);
}
/* Light */
.btn-light {
	background-color: var(--light);
	border-color: var(--light);
	color: var(--textColor);
}
.btn-light:hover{
	opacity: 1.3;
	background-color: var(--background);
	border: 1px solid var(--secondary);
	color: RGB(var(--textColor-rgb) / 80%);
}
.btn-light.disabled, .btn-light:disabled {
	opacity: 0.5;
}
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
	opacity: 0.6;
}
.btn-light-outline {
	background-color: transparent;
	border-color: var(--light);
	color: var(--textColor);
}
.btn-light-outline.disabled, .btn-light-outline:disabled {
	opacity: 0.5;
}

.btn-light-outline:not(:disabled):not(.disabled).active,.btn-light-outline:not(:disabled):not(.disabled):active,.show>.btn-light-outline.dropdown-toggle {
	color: var(--lightTextColor);
}

.btn-light-outline:not(:disabled):not(.disabled).active, .btn-light-outline:not(:disabled):not(.disabled):active, .show>.btn-light-outline.dropdown-toggle {
	color: var(--lightTextColor);
	opacity: 0.6;
}
.btn-light-outline:not(:disabled):not(.disabled).active:focus, .btn-light-outline:not(:disabled):not(.disabled):active:focus, .show>.btn-light-outline.dropdown-toggle:focus {
	box-shadow: 0 0 0 1px RGBA(101,176,241,.5)
}
.btn-light-outline:hover{
	color: var(--lightTextColor);
}
.btn-light-shadow{
	box-shadow: RGBA(var(--light-rgb) / 10%) 0px 10px 15px -3px, RGBA(var(--light-rgb) / 50%) 0px 4px 6px -2px;
}
.btn-light-bordered{
	border-color: var(--light);
}
.btn-light-3d{
	//box-shadow:  RGBA(var(--primary-rgb) / 40%) -5px 5px, RGBA(var(--primary-rgb) / 30%) -10px 10px,  RGBA(var(--primary-rgb) / 20%) -15px 15px,  RGBA(var(--primary-rgb) / 10%) -20px 20px,  RGBA(var(--primary-rgb) / 5%) -25px 25px;
	box-shadow:  RGBA(var(--light-rgb) / 40%) -5px 5px;
	background-color: transparent;
	border-color: var(--light);
	color: var(--textColor);
}

/* Transparent */
.btn-transparent {
	background-color: transparent;
	border-color: transparent;
	color: var(--textColor);
}
.btn-transparent:hover{
	opacity: 0.7;
	border: 1px solid var(--secondary !important);
	color: RGB(var(--textColor) / 83%);
}
.btn-transparent.disabled, .btn-transparent:disabled {
	opacity: 0.5;
}

.btn-transparent:not(:disabled):not(.disabled).active, .btn-transparent:not(:disabled):not(.disabled):active, .show>.btn-transparent.dropdown-toggle {
	opacity: 0.6;
}
.btn-light-soft{
	background-color: RGB(var(--light-rgb) / 20%);
	border-color: transparent;
	color: var(--textColor);

	&:hover{
		color: var(--textColor);
	}
}

/* Success */
.btn-success {
	background-color: var(--success);
	border-color: var(--success);
	color: var(--secondaryTextColor);
}
.btn-success:hover{
	color: #fff;
	background-color: RGB(var(--success-rgb) / 90%);
	border-color: RGB(var(--success-rgb) / 90%);
}
.btn-success.disabled, .btn-success:disabled {
	opacity: 0.5;
}
.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
	opacity: 0.6;
}
.btn-success-soft{
	background-color: RGB(var(--success-rgb) / 20%);
	border-color: transparent;
	color: var(--success);

	&:hover{
		color: var(--textColor);
	}
}
.btn-success-outline {
	background-color: transparent;
	border-color: var(--success);
	color: var(--success);
}
.btn-success-outline.disabled, .btn-success-outline:disabled {
	opacity: 0.5;
}

.btn-success-outline:not(:disabled):not(.disabled).active,.btn-success-outline:not(:disabled):not(.disabled):active,.show>.btn-success-outline.dropdown-toggle {
	color: var(--success);
}

.btn-success-outline:not(:disabled):not(.disabled).active, .btn-success-outline:not(:disabled):not(.disabled):active, .show>.btn-success-outline.dropdown-toggle {
	color: var(--success);
	opacity: 0.6;
}

.btn-success-outline:not(:disabled):not(.disabled).active:focus, .btn-success-outline:not(:disabled):not(.disabled):active:focus, .show>.btn-success-outline.dropdown-toggle:focus {
	box-shadow: 0 0 0 1px RGBA(101,176,241,.5)
}
.btn-success-outline:hover{
	color: var(--success);
}
.btn-success-shadow{
	box-shadow: RGBA(var(--success-rgb) / 10%) 0px 10px 15px -3px, RGBA(var(--success-rgb) / 50%) 0px 4px 6px -2px;
}
.btn-success-bordered{
	border-color: var(--success);
}
.btn-success-3d{
	//box-shadow:  RGBA(var(--primary-rgb) / 40%) -5px 5px, RGBA(var(--primary-rgb) / 30%) -10px 10px,  RGBA(var(--primary-rgb) / 20%) -15px 15px,  RGBA(var(--primary-rgb) / 10%) -20px 20px,  RGBA(var(--primary-rgb) / 5%) -25px 25px;
	box-shadow:  RGBA(var(--success-rgb) / 40%) -5px 5px;
	background-color: transparent;
	border-color: var(--success);
	color: var(--success);
}

/* Danger */
.btn-danger {
	background-color: var(--danger);
	border-color: var(--danger);
	color: #fff;
}
.btn-danger:hover{
	color: #fff;
}
.btn-danger.disabled, .btn-danger:disabled {
	opacity: 0.5;
}
.btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle {
	opacity: 0.6;
}
.btn-danger-soft{
	background-color: RGB(var(--danger-rgb) / 20%);
	border-color: transparent;
	color: var(--danger);

	&:hover{
		color: var(--textColor);
	}
}
.btn-danger-outline {
	background-color: transparent;
	border-color: var(--danger);
	color: var(--danger);
}
.btn-danger-outline.disabled, .btn-danger-outline:disabled {
	opacity: 0.5;
}
.btn-danger-outline:not(:disabled):not(.disabled).active,.btn-danger-outline:not(:disabled):not(.disabled):active,.show>.btn-danger-outline.dropdown-toggle {
	color: var(--danger);
}
.btn-danger-outline:not(:disabled):not(.disabled).active, .btn-danger-outline:not(:disabled):not(.disabled):active, .show>.btn-danger-outline.dropdown-toggle {
	color: var(--danger);
	opacity: 0.6;
}
.btn-danger-outline:not(:disabled):not(.disabled).active:focus, .btn-danger-outline:not(:disabled):not(.disabled):active:focus, .show>.btn-danger-outline.dropdown-toggle:focus {
	box-shadow: 0 0 0 1px RGBA(101,176,241,.5)
}
.btn-danger-outline:hover{
	color: var(--danger);
}
.btn-danger-shadow{
	box-shadow: RGBA(var(--danger-rgb) / 10%) 0px 10px 15px -3px, RGBA(var(--danger-rgb) / 50%) 0px 4px 6px -2px;
}
.btn-danger-bordered{
	border-color: var(--danger);
}
.btn-danger-3d{
	//box-shadow:  RGBA(var(--primary-rgb) / 40%) -5px 5px, RGBA(var(--primary-rgb) / 30%) -10px 10px,  RGBA(var(--primary-rgb) / 20%) -15px 15px,  RGBA(var(--primary-rgb) / 10%) -20px 20px,  RGBA(var(--primary-rgb) / 5%) -25px 25px;
	box-shadow:  RGBA(var(--danger-rgb) / 40%) -5px 5px;
	background-color: transparent;
	border-color: var(--danger);
	color: var(--danger);
}

/* Warning */
.btn-warning {
	background-color: var(--warning);
	border-color: var(--warning);
	color: #fff;
}
.btn-warning:hover{
	color: #fff;
}
.btn-warning.disabled, .btn-warning:disabled {
	opacity: 0.5;
}
.btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show>.btn-warning.dropdown-toggle {
	opacity: 0.6;
}
.btn-warning-soft{
	background-color: RGB(var(--warning-rgb) / 20%);
	border-color: transparent;
	color: var(--warning);

	&:hover{
		color: var(--textColor);
	}
}
.btn-warning-outline {
	background-color: transparent;
	border-color: var(--warning);
	color: var(--warning);
}
.btn-warning-outline.disabled, .btn-warning-outline:disabled {
	opacity: 0.5;
}
.btn-warning-outline:not(:disabled):not(.disabled).active,.btn-warning-outline:not(:disabled):not(.disabled):active,.show>.btn-warning-outline.dropdown-toggle {
	color: var(--warning);
}
.btn-warning-outline:not(:disabled):not(.disabled).active, .btn-warning-outline:not(:disabled):not(.disabled):active, .show>.btn-warning-outline.dropdown-toggle {
	color: var(--warning);
	opacity: 0.6;
}
.btn-warning-outline:not(:disabled):not(.disabled).active:focus, .btn-warning-outline:not(:disabled):not(.disabled):active:focus, .show>.btn-warning-outline.dropdown-toggle:focus {
	box-shadow: 0 0 0 1px RGBA(101,176,241,.5)
}
.btn-warning-outline:hover{
	color: var(--warning);
}
.btn-warning-shadow{
	box-shadow: RGBA(var(--warning-rgb) / 10%) 0px 10px 15px -3px, RGBA(var(--warning-rgb) / 50%) 0px 4px 6px -2px;
}
.btn-warning-bordered{
	border-color: var(--warning);
}
.btn-warning-3d{
	//box-shadow:  RGBA(var(--primary-rgb) / 40%) -5px 5px, RGBA(var(--primary-rgb) / 30%) -10px 10px,  RGBA(var(--primary-rgb) / 20%) -15px 15px,  RGBA(var(--primary-rgb) / 10%) -20px 20px,  RGBA(var(--primary-rgb) / 5%) -25px 25px;
	box-shadow:  RGBA(var(--warning-rgb) / 40%) -5px 5px;
	background-color: transparent;
	border-color: var(--warning);
	color: var(--warning);
}

.btn-inverted {
	background-color: var(--textColor);
	border-color: var(--textColor);
	color: var(--background);
}
.btn-inverted:hover{
	color: RGBA(var(--background-rgb) / 20%);
}
.btn-inverted.disabled, .btn-inverted:disabled {
	opacity: 0.5;
}
.btn-inverted:not(:disabled):not(.disabled).active, .btn-inverted:not(:disabled):not(.disabled):active, .show>.btn-inverted.dropdown-toggle {
	opacity: 0.6;
}
.btn-inverted-soft{
	background-color: RGB(var(--textColor-rgb) / 80%);
	border-color: transparent;
	color: var(--background);

	&:hover{
		color: RGBA(var(--background-rgb) / 20%);
	}
}
.btn-inverted-outline {
	background-color: transparent;
	border-color: var(--textColor);
	color: var(--textColor);
}
.btn-inverted-shadow{
	box-shadow: RGBA(var(--textColor-rgb) / 10%) 0px 10px 15px -3px, RGBA(var(--textColor-rgb) / 50%) 0px 4px 6px -2px;
}
.btn-inverted-bordered{
	border-color: var(--textColor);
}
.btn-inverted-3d{
	//box-shadow:  RGBA(var(--primary-rgb) / 40%) -5px 5px, RGBA(var(--primary-rgb) / 30%) -10px 10px,  RGBA(var(--primary-rgb) / 20%) -15px 15px,  RGBA(var(--primary-rgb) / 10%) -20px 20px,  RGBA(var(--primary-rgb) / 5%) -25px 25px;
	box-shadow:  RGBA(var(--textColor-rgb) / 40%) -5px 5px;
	background-color: transparent;
	border-color: var(--textColor);
	color: var(--textColor);
}

.btn-lg{
    padding: 12px 20px;
    font-size: 1.2rem;
}
.btn-md{
	padding: .45rem .8rem;
	font-size: 0.8rem;
}
.btn-sm{
	padding: .35rem .5rem;
	font-size: 0.7rem;
}
.btn-100{
	width: 100%;
	margin: 0px;
	text-align: center;
}
.btn-50{
	width: 45%;
	overflow: hidden;
}
.btn-rounded{
	border-radius: 40px;
}
.btn-group{
	margin: 0px !important;
}
.btn-nohover:hover{
	opacity: 1;
}
.btn__group{
	display: flex;
	flex-direction: row;

	.btn{
		margin-left: 0px;
		margin-right: 0px;
		border-left:  0px;
		border-right:  0px;
		border-radius: 0px;
	}
	.btn:nth-child(1){
		border-top-left-radius: var(--radius);
		border-bottom-left-radius: var(--radius);
	}
	.btn:nth-last-child(-n+1){
		border-top-right-radius: var(--radius);
		border-bottom-right-radius: var(--radius);
	}
}
.btn__group-rounded{
	.btn:nth-child(1){
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}
	.btn:nth-last-child(-n+1){
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
	}
}
.btn-circle{
	padding: 10px;
	border-radius: 50%;
}