@import 'vars';

.tabs{
	display: flex;
	flex-direction: row;

	.tabs__item{
		padding: 10px 20px;
		color: RGBA(var(--textColor-rgb) / 50%);
		cursor: pointer;
		border: 1px solid transparent;
		display: flex;
		flex-direction: column;
		justify-content: center;

		&:hover{
			border-top: 1px solid var(--primary);
			border-bottom: 1px solid var(--primary);
			background: var(--light);
			color: var(--textColor);
		}
	}
	.tabs__item-active{
		color: var(--primary);
		border-top: 1px solid var(--primary);
		border-bottom: 1px solid var(--primary);
		background: var(--light);
	}
	.tabs__item-md{
		font-size: 13px;
		padding: 8px 12px;
	}
	.tabs__item-sm{
		font-size: 11px;
		padding: 5px 9px;
	}
}