@import 'vars';
a{
	color: var(--primary);
	cursor: pointer;
}
/* TYPOGRAPHY */
h1{
	font-size: 4rem;
	margin: 0.1rem;
}
h2{
	font-size: 3rem;
	margin: 0.1rem;
}
h3{
	font-size: 2rem;
	margin: 0.1rem;
}
h4{
	font-size: 1.5rem;
	margin: 0.1rem;
}
h5{
	font-size: 1rem;
	margin: 0.1rem;
}
h6{
	font-size: 0.8rem;
	margin: 0.1rem;
}
p{
	font-size: 1rem;
}
div{
	font-size: 1rem;
}
label{
	font-weight: 550
}
.text--bold{
	font-weight: bold;
}
.text--boldest{
	font-weight: 900;
}
.text--normal{
	font-weight: 450 !important;
	color: var(--textColor) !important;
}
.text--muted{
	opacity: 0.6;
}
.text--semi-muted{
	opacity: 0.7;
}
.text--link{
	color: var(--primary) !important;
}
.text--label{
	color: var(--textColor) !important;
	font-weight: bold !important;
}
.text--primary{
	color: var(--primary) !important;
}
.text--secondary{
	color: var(--secondary) !important;
}
.text--light{
	color: var(--light) !important;
}
.text--success{
	color: var(--success) !important;
}
.text--danger{
	color: var(--danger) !important;
}
.text--warning{
	color: var(--warning) !important;
}
.font--10{
	font-size: 10px;
}
.font--11{
	font-size: 11px;
}
.font--12{
	font-size: 12px;
}
.font--13{
	font-size: 13px;
}
.font--14{
	font-size: 14px;
}
.font--15{
	font-size: 15px;
}
.font--16{
	font-size: 16px;
}
.font--17{
	font-size: 17px;
}
.font--18{
	font-size: 18px;
}
.font--19{
	font-size: 19px;
}
.font--20{
	font-size: 20px;
}
.font--21{
	font-size: 21px;
}
.font--22{
	font-size: 22px;
}
.font--23{
	font-size: 23px;
}
.font--24{
	font-size: 24px;
}
.font--25{
	font-size: 25px;
}
.font--26{
	font-size: 26px;
}
.font--27{
	font-size: 27px;
}
.font--28{
	font-size: 28px;
}
.font--29{
	font-size: 29px;
}
.font--30{
	font-size: 30px;
}
.font--31{
	font-size: 32px;
}
.font--32{
	font-size: 32px;
}
.font--33{
	font-size: 33px;
}
.font--34{
	font-size: 34px;
}
.font--35{
	font-size: 35px;
}
.font--40{
	font-size: 40px;
}
.font--45{
	font-size: 45px;
}
.font--55{
	font-size: 55px;
}
.text--center{
	text-align: center;
	align-self: center;
}
.text--left{
	text-align: left;
}
.text--right{
	text-align: right;
}
.capitalize{
	text-transform: capitalize;
}
.uppercase{
	text-transform: uppercase;
}
.lowercase{
	text-transform: lowercase;
}