[data-theme='light']{
	--background: #EFF5F5;
	--background-rgb: 239 245 245;

	--textColor: #000D25;
	--textColor-rgb: 91 91 91;

	--secondaryTextColor: #F6F8FF;
	--secondaryTextColor-rgb: 246 248 255;

	--primary: #1D9BF0;	
	--primary-rgb: 29 155 240;

	--secondary: #EFF5F5;
	--secondary-rgb: 239 245 245;

	--light: #fff;
	--light-rgb: 255 255 255;

	--success: #EBC7E8;
	--success-rgb: 235 199 232;

	--danger: #D23369;
	--danger-rgb: 210 51 105;

	--warning: #FF9F29;
	--warning-rgb: 255 159 41;

	--radius: 3px;
	--fontFamily: 'Poppins', sans-serif;
}
[data-theme='dark']{
	--background: #0d1117;
	--background-rgb: 22 27 34;

	--textColor: #fff;
	--textColor-rgb: 255 255 255;

	--secondaryTextColor: #fff;
	--secondaryTextColor-rgb: 255 255 255;

	--primary: #1D9BF0;
	--primary-rgb: 29 155 240;

	--secondary: #0d1117;
	--secondary-rgb: 18 18 18;

	--light: #161b22;
	--light-rgb: 13 17 23;

	--success: #00BFA6;
	--success-rgb: 0 191 166;

	--danger: #ef476f;
	--danger-rgb: 245 0 87;

	--warning: #F9A826;
	--warning-rgb: 249 168 38;

	--radius: .3em;
	--fontFamily: 'Poppins', sans-serif;
}
[data-theme='navy']{
	--background: #0E273C;
	--background-rgb: 14 39 60;

	--textColor: #fff;
	--textColor-rgb: 255 255 255;

	--secondaryTextColor: #fff;
	--secondaryTextColor-rgb: 255 255 255;

	--primary: #D3BCCC;
	--primary-rgb: 211 188 204;

	--secondary: #4A306D;
	--secondary-rgb: 74 48 109;

	--light: #161b22;
	--light-rgb: 13 17 23;

	--success: #E8D7F1;
	--success-rgb: 232 215 241;

	--danger: #ef476f;
	--danger-rgb: 245 0 87;

	--warning: #F9A826;
	--warning-rgb: 249 168 38;

	--radius: .3em;
	--fontFamily: 'Poppins', sans-serif;
}