

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.css');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@700&display=swap');
@import "partials/vars";
@import "partials/buttons";
@import "partials/forms";
@import "partials/typography";
@import "partials/helpers";
@import "partials/table";
@import "partials/misc";
@import "partials/dropdown";
@import "partials/tabs";
@import "partials/responsive";
@import "partials/modal";
@import "partials/loader";
@import "partials/cards";
@import "partials/menu";

*{
	box-sizing: border-box;
}
html{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
body{
	font-family: 'Poppins', 'Roboto', sans-serif;
	font-size: 15px;
	display: flex;
	flex-direction: column;
	background: var(--background);
	color: var(--textColor);
	height: 100%;
	width: 100%;
	overflow-y: auto;
	padding: 0rem;
	margin: 0rem;
	font-weight: normal;
}
span{
	display: inline-block;
}
a{
	text-decoration: none;
}
.page__title{
	font-size: 17px;
	font-weight: bold;
	border-bottom: 3px solid var(--primary);
	display: block;
	width: auto;
}
.page{
	width: 100%;
	min-height: 100%;

	.page__content{
		width: 100%;
		display: flex;
		flex-direction: row;

		.page__content-left{
			flex-basis: 75%;
		}
		.page__content-right{
			flex-basis: 25%;
		}
	}
}
.logo{
	position: relative;
	color: var(--primary);
	font-weight: bold;
	font-family: 'Stick No Bills', sans-serif;
	min-height: 45px;

	.logo__sub{
		font-size: 30px;
		position: absolute;
		top: 0px;
		left: 50%;
    	transform: translate(-50%, 0);
		z-index: 2;
	}
	.logo__overlay{
		color: transparent;
    	-webkit-text-stroke-width: 2px;
    	-webkit-text-stroke-color: var(--light);
		font-size: 30px;
		position: absolute;
		top: -2px;
		left: 50%;
    	transform: translate(-50%, 0);
		z-index: 1;
	}
}