

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.css');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@700&display=swap');
@import "partials/vars";
@import "partials/buttons";
@import "partials/forms";
@import "partials/typography";
@import "partials/helpers";
@import "partials/table";
@import "partials/misc";
@import "partials/dropdown";
@import "partials/tabs";
@import "partials/responsive";
@import "partials/modal";
@import "partials/loader";
@import "partials/cards";
@import "partials/menu";

*{
	box-sizing: border-box;
}
html{
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-size: 15px;
}
body{
	font-family: var(--fontFamily);
	font-size: 18px;
	display: flex;
	flex-direction: column;
	background: var(--background);
	color: var(--textColor);
	height: 100%;
	width: 100%;
	overflow-y: auto;
	padding: 0rem;
	margin: 0rem;
	font-weight: normal;
}
span{
	display: inline-block;
}
a{
	text-decoration: none;
}
.page__title{
	font-size: 17px;
	font-weight: bold;
	border-bottom: 3px solid var(--primary);
	display: block;
	width: auto;
}
.page{
	width: 100%;
	min-height: 100%;
	//background: linear-gradient(-45deg, var(--primary),  var(--light), var(--danger));
	//background-size: 400% 400%;
	//animation: gradient 30s ease infinite;

	.page__content{
		width: 100%;

		.page__content-left{
			flex-basis: 75%;
		}
		.page__content-right{
			flex-basis: 25%;
		}
	}
	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
	.page__wrapper{
		display: flex;
		flex-direction: row;

		.page__wrapper-sidebar{
			width: 180px;
			background: var(--light);
			position: absolute;
			left: 10px;
			top: 10px;
			height: 98%;
			padding-top: 10px;
			border-radius: var(--radius);

			.tabs__item{
				.material-icons{
					display: none;
				}
			}
			.tabs__sidebar-active{
				.material-icons{
					display: inline-block;
					margin-left: -5px;
					margin-right: 5px;
				}
			}
		}
		.page__wrapper-content{
			margin-left: 190px;
			width: calc(100% - 190px);
		}
	}
}
.logo{
	position: relative;
	color: var(--primary);
	font-weight: bold;
	font-family: 'Stick No Bills', sans-serif;
	min-height: 45px;
	width: 130px;
	margin-left: 10px;

	.logo__sub{
		font-size: 20px;
		position: absolute;
		top: 0px;
		left: 50%;
		transform: translate(-50%, 0);
		z-index: 2;
		display: flex;
		flex-direction: row;
	}
	.logo__overlay{
		color: transparent;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: var(--light);
		font-size: 20px;
		position: absolute;
		top: -2px;
		left: 50%;
		transform: translate(-50%, 0);
		z-index: 1;
		display: flex;
		flex-direction: row;
	}
}
.card__title{
	position: absolute;
	top: 0;
	left: 0;
	color: var(--textColor);
	background: var(--background);
	border-right: 1px dashed var(--primary);
	border-bottom: 1px dashed var(--primary);
	padding: 3px 8px;
	border-bottom-right-radius: var(--radius);
	font-size: 11px;
	font-weight: bold;
}
.themepicker__color{
	margin: 0px;
	margin-left: 1px;
	width: 20px;
	height: 20px;
	border: 1px solid RGBA(var(--textColor-rgb) / 20%);
	transition: all .2s ease-in-out;

	&:hover{
		transform: scale(1.1);
	}
}
.theme__preset-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
.theme__preset{
	margin: 5px;
	display: flex;
	flex-direction: row;
	flex-basis: 100%;
	height: 100px;
	border: 1px solid RGBA(var(--textColor-rgb) / 30%);
	border-radius: var(--radius);
	position: relative;
	cursor: pointer;
	padding-top: 25px;
	padding-bottom: 10px;

	&:hover{
		background: RGBA(var(--textColor-rgb) / 20%);
	}

	.theme__preset-title{
		position: absolute;
		left: 0;
		top: 0;
		z-index: 99;
		background: var(--textColor);
		color: var(--background);
		padding: 1px 15px;
		border-top-left-radius: var(--radius);
		border-bottom-right-radius: var(--radius);
		text-transform: uppercase;
	}
}
.theme__preset-active{
	border: 1px solid var(--primary);

	.theme__preset-title{
		background: var(--primary);
		color: var(--secondaryTextColor);
	}
}
.buttons__wrapper{
	.btn{
		.copyText{
			display: none;
			font-size: 10px;
		}
		.mainText{
			display: inline-block;
		}

		&:hover{
			.copyText{
				display: inline-block;
			}
			.mainText{
				display: none;
			}
		}
	}

}
.theme__picker-modal{

}
.copy__code-wrapper{
	position: relative;
	padding: 0px;

	.copy__code-floater{
		position: absolute;
		display: none;
		width: 100%;
		height: 100%;
		min-height: 45px;
		background: RGBA(var(--secondary-rgb) / 50%);
		text-align: center;
		-webkit-backdrop-filter: blur(15px);
		backdrop-filter: blur(15px);
		cursor: pointer;
		z-index: 10;
		border-radius: var(--radius);

		.copy__code-floaterGet{
			font-size: .9em;
		}
		.copy__code-floaterGot{
			font-size: .9em;
		}
	}
	.copy__code-floaterSuccess{
		background: RGBA(var(--success-rgb) / 50%);
	}
	&:hover{
		.copy__code-floater{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: center;
		}
	}
}
.hljs{

	padding: 10px !important;
	border-radius: var(--radius) !important;
	overflow-y: auto !important;
	min-height: 90px;
	margin-top: -3px;
	border: 1px dashed RGBA(var(--textColor-rgb) / 20%);
}
.preview__card{
	margin: 5px;
	flex-basis: 50%;
	max-height: 70vh;
	overflow-y: auto;

	.preview__card-title{
		text-transform: capitalize;
	}
}
.color__picker{
	display: flex;
	flex-direction: row;

	.color__picker-column{
		flex-basis: calc(100% / 8);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.color__picker-column-box{
			width: 50px;
			height: 50px;
			border-radius: 10%;
			background: var(--background);
			margin: 2px;
			border: 1px solid RGBA(var(--textColor-rgb) / 20%);
		}
	}
}